
#bgcarte {
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 350px;
}

.card-text {
  font-family: "Economica", sans-serif;
  justify-content: center;
  text-align: center;
  display: flex;
}

.card-title {
  font-family: "Orbitron", sans-serif;
}

#card{
  .card-img-top {
    padding-bottom: 50px;
  }
}

#jumbotron {

p {
  font-size: xx-large;
  font-family: "Economica", sans-serif;
}
  h2 {
    font-size: 3rem;
    padding-top: 30px;
    font-family: "Orbitron", sans-serif;
  }
}