#contact-info {

  span {
    margin: 15px;
    margin-bottom: 300px;
    margin-top: 600px;
    padding: 5px;
    font-size: 25px;
    margin-left: 30px;

  }

  i {
    font-size: 30px;
  }


  }


#page-title h1{
  text-align: center;
  justify-content: center;
  color: #00FF99;
}