#date{
  h2{
    font-family: Orbitron;
  }
  p{
    color: #3a5a95;
    font-size: 40px;
    margin-top: 15px;
    font-family: Orbitron;
  }
  li{
    font-family: 'Economica', sans-serif;
  }
}
#date1{
  h2{
    font-family: Orbitron;
  }
  p{
    color: #3a5a95;
    font-size: 40px;
    margin-top: 15px;
    font-family: Orbitron;
  }
  li{
    font-family: 'Economica', sans-serif;
  }
}
#date2{
  h2{
    font-family: Orbitron;
  }
  p{
    color: #3a5a95;
    font-size: 40px;
    margin-top: 15px;
    font-family: Orbitron;
  }
  li{
    font-family: 'Economica', sans-serif;
  }
}

#card {
  .card-deck{
    padding-bottom: 100px;
    margin-top: 40px;
  }
}
