#game-jumbotron {
  margin-top: 100px;

  h2 {
    color: #034ABC;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    font-family: "Noto Sans Gothic";

  }
    p {
      margin-top: 75px;
      color: #cccccc;
      font-family: "American Typewriter";
      margin-botton: 300px;
    }

}

#borne-jumbotron {
  margin-top: 100px;

  h2 {
    color: #034ABC;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    font-family: "Noto Sans Gothic";

  }
  p {
    margin-top: 75px;
    color: #cccccc;
    font-family: "American Typewriter";
    margin-botton: 300px;
  }

}