#game-jumbotron{
  margin-top: 70px;

  .card-img-top {
  margin: 20px;
}
  h2 {
    color: #0141a2;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;

  }

  p {
    color: #111111;
    font-family: 'Economica', sans-serif;
    margin-bottom: 100px;
    font-size: 20px;
    margin-top: 100px;

  }

  .card-deck{
    margin-top: 100px;

  }
}


#borne-jumbotron {
  margin-top: 150px;

  img {
    max-height: 600px;
  }

  h2 {
    color: #034ABC;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    padding-bottom: 100px;
  }

  p {
    color: #111111;
    font-family: 'Economica', sans-serif;
    margin-bottom: 100px;
    font-size: 20px;
  }

  .card-deck {
    margin-bottom: 90px;
    margin-top: 100px;
    padding-bottom: 70px;
    margin-top: 80px;
    margin-bottom: 90px;
  }
}

  #gameboy-jumbotron {
    margin-top: 90px;

    h2 {
      color: #034ABC;
      font-size: 80px;
      text-align: center;
      justify-content: center;
      font-family: 'Orbitron', sans-serif;
      padding-bottom: 100px;
    }

    p {
      color: #111111;
      font-family: 'Economica', sans-serif;
      margin-botton: 80px;
      font-size: 20px;
    }
    .card-deck{
      margin-top: 100px;
      padding-bottom: 100px;
    }
  }

  #bannerjeux {
    max-height: 400px;
    display: block;
    max-width: 100%;
    margin: auto;
  }
