$bg-body: #ffffff;


$shadow-dark: 6px 6px 16px 0px rgba(30, 35, 43, 0.8), -6px -6px 16px 0px rgba(43, 48, 56, 0.8), inset 0px 0px 0px 0px rgb(30, 35, 43), inset 0px 0px 0px 0px rgba(43, 48, 56, 0.8);
$shadow-dark-hover: 0px 0px 0px 0px rgba(30, 35, 43, 0.8), 0px 0px 0px 0px rgba(43, 48, 56, 0.8), inset 6px 6px 16px 0px rgba(30, 35, 43, 0.8), inset -6px -6px 16px 0px rgba(43, 48, 56, 0.8);

$shadow-light: 6px 6px 16px 0px #dde4ef, -6px -6px 16px 0px #fff, inset 0px 0px 0px 0px #dde4ef, inset 0px 0px 0px 0px #fff;
$shadow-light-hover: 0px 0px 0px 0px #dde4ef, 0px 0px 0px 0px #fff, inset 6px 6px 16px 0px #dde4ef, inset -6px -6px 16px 0px #fff;