body {
  position: relative;
  background-color: #ffffff;
  z-index: 2;
}

#header {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 10000;
}

footer {
  color: #ffffff;
  background-attachment: fixed;
  background-color: #222;
  background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
  background-size: cover;
  background-position: bottom;
}

footer p {
  color: #ccc;
}

footer a {
  color: #ccc;
}

.social-pet li {
  display: inline-block;
  margin-right: 10px;
}

.social-pet li a {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  display: block;
  line-height: 35px;
  background-color: #3a5a95;
  color: #fff;
}

.social-pet li:nth-child(2) a {
  background-color: #57aced;
}

.social-pet li:nth-child(3) a {
  background-color: #dd4f43;
}

.social-pet li:nth-child(4) a {
  background-color: #6b27b2;
}

.social-pet li a:hover {
  background-color: #0141a2;
}

.social-pet li a:hover i {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.recent-post li {
  display: block;
  color: #ccc;
  margin-bottom: 25px;
}

.recent-post li label {
  float: left;
  border: 2px solid #ccc;
  padding: 1px 7px;
  text-align: center;
}

.recent-post li label span {
  color: #fff;
}

footer .input-group-addon {
  background-color: #0141a2;
  padding: 10px;
}

.f-address li {
  display: inline-block;
}

.f-address li i {
  color: #2995de;
  font-size: 18px;
}

.f-address li a {
  color: #ccc;
}

/*=-Copyright-=*/
.copyright {
  background-color: #111;
  padding: 12px 0;
  font-size: 14px;
}

#home-jumbotron {
  min-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: center;
}

#home-game .home-card {
  padding: 20px;
  margin-bottom: 20px;
}
#home-game .home-card img {
  display: block;
  margin: 0 auto 20px auto;
}
#home-game .home-card h2 {
  font-size: 30px;
}
#home-game .home-card p {
  margin-top: 20px;
}

#contact-info span {
  margin: 15px;
  margin-bottom: 300px;
  margin-top: 600px;
  padding: 5px;
  font-size: 25px;
  margin-left: 30px;
}
#contact-info i {
  font-size: 30px;
}

#page-title h1 {
  text-align: center;
  justify-content: center;
  color: #00FF99;
}

#game-jumbotron {
  margin-top: 300px;
}
#game-jumbotron h2 {
  color: #034ABC;
  font-size: 80px;
  text-align: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
}
#game-jumbotron p {
  margin-top: 200px;
  color: #111111;
  font-family: "Economica", sans-serif;
  margin-botton: 300px;
  font-size: 20px;
}
#game-jumbotron .card-deck {
  margin-top: 220px;
}

#borne-jumbotron {
  margin-top: 300px;
}
#borne-jumbotron h2 {
  color: #034ABC;
  font-size: 80px;
  text-align: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
}
#borne-jumbotron p {
  margin-top: 200px;
  color: #111111;
  font-family: "Economica", sans-serif;
  margin-botton: 300px;
  font-size: 20px;
}
#borne-jumbotron .card-deck {
  margin-top: 200px;
  padding-bottom: 120px;
}

.arcade img {
  height: auto;
  width: 100%;
}

.machine img {
  height: auto;
  width: 100%;
}

#gameboy-jumbotron {
  margin-top: 100px;
}
#gameboy-jumbotron h2 {
  color: #034ABC;
  font-size: 80px;
  text-align: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
}
#gameboy-jumbotron p {
  margin-top: 200px;
  color: #111111;
  font-family: "Economica", sans-serif;
  margin-botton: 300px;
  font-size: 20px;
}
#gameboy-jumbotron .card-deck {
  margin-top: 200px;
  padding-bottom: 300px;
}

#bannerjeux {
  max-height: 400px;
  display: block;
  max-width: 100%;
  margin: auto;
}

#conceptheader {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
  object-fit: cover;
}

.npcard {
  border: 0;
  background: #ffffff;
  color: #75bce5;
  box-shadow: 6px 6px 16px 0px #dde4ef, -6px -6px 16px 0px #fff, inset 0px 0px 0px 0px #dde4ef, inset 0px 0px 0px 0px #fff;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.npcard:hover {
  box-shadow: 0px 0px 0px 0px #dde4ef, 0px 0px 0px 0px #fff, inset 6px 6px 16px 0px #dde4ef, inset -6px -6px 16px 0px #fff;
}

.scard {
  border: 0;
  background: #ffffff;
  color: #75bce5;
  box-shadow: 6px 6px 16px 0px #dde4ef, -6px -6px 16px 0px #fff, inset 0px 0px 0px 0px #dde4ef, inset 0px 0px 0px 0px #fff;
  border-radius: 5px;
  padding: 0.4rem 1rem;
}

#contact-form {
  marginp: 0px;
  margin-top: 100px;
  margin-bottom: 175px;
}
#contact-form .form-group {
  color: #cccccc;
  margin-bottom: 50px;
}
#contact-form .btn {
  background-color: #00FF99;
  border-color: #00FF99;
}
/*# sourceMappingURL=app.css.map */